version:
  config: "1.0.0"

spring:
  jackson:
    default-property-inclusion: NON_NULL

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - refresh
logging:
  level:
    com.netflix: warn
